<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27335483464-0emot9gs9neukqil8dmm2f65qa38m6tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27335483464-0emot9gs9neukqil8dmm2f65qa38m6tn</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ3QKq5Tz7hrjtIcA36OcgLCeveRWchYo</string>
	<key>GCM_SENDER_ID</key>
	<string>27335483464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bh.polytechnic.Eshara</string>
	<key>PROJECT_ID</key>
	<string>eshara-b71d4</string>
	<key>STORAGE_BUCKET</key>
	<string>eshara-b71d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:27335483464:ios:0ee5d442cf1b7d7802787d</string>
	<key>DATABASE_URL</key>
	<string>https://eshara-b71d4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>